<?xml version="1.0" encoding="utf-8" ?>
<!-- `allowedReferers` will be superceded by the origins that OMS CORS handling allows. -->
<!-- `mustMatch` and `serverUrls` will be superceded by an OMS setting containing server URLs to proxy. -->
<ProxyConfig allowedReferers="*"
             mustMatch="false"  xmlns="proxy.xsd">
  <!-- The `serverUrls` element needs to be present even if we aren't specifying any server URLs or else proxied requests may fail. -->
  <serverUrls></serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
